html{
    margin: 0;
    font-family: "Leelawadee UI";
    background-image: linear-gradient(#c7b6b6 20%, #d4ecd0 50%, #c7b6b6);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gol{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1{
    display: flex;
    justify-content: end;
    width: 1050px;
}

.back{
    background: rgba(255, 255, 255, 0.5);
    font-size: 35px;
    width: 120px;
    height: 55px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 160px;
    border-radius: 7%;
    border: none;
    transition: transform 0.5s;
}
.back:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}
.but{
    width: 700px;
    display: flex;
    justify-content: end;
}

h1{
    text-align: center;
    margin: 50px;
    font-size: 45px;
    font-weight: normal;
}
ul{
    margin-top: 5px;
    padding: 0px;
    margin-bottom: 5px;
}
.bt{
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    width: 250px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 160px;
    border-radius: 7%;
    border: none;
    transition: transform 0.5s;
}
.bt:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
.div{
    background: rgba(150, 150, 150, 0.47);
    text-align: center;
    width: 550px;
    margin: 20px;

    border: solid #595858 1.7px;
    border-radius: 2%;
    font-size: 35px;
    display: flex;
    flex-direction: column;
}

li{

    font-size: 20px;
    list-style-type: none;
    margin: 5px;
}
.osn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list1{

    display: flex;
    flex-wrap: wrap;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    flex-wrap: wrap;
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding: 15px;
    text-align: center;
    width: 250px;
    height: 120px;
    border: solid #595858 1.7px;
    border-radius: 2%;
    margin: 15px;
    background: rgba(150, 150, 150, 0.47);
}
.button{
    background: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    width: 100px;
    height: 20px;
    margin-top: 50px;
    border-radius: 25%;
    border: none;
    transition: transform 0.5s;
}
.button:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}